body {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 11pt;
}

header {
	background-color: #000088;
	color: white;
	padding: 10px;
	text-align: right;
	border-radius: 5px;
}

header > h1 {
	padding: 0;
	margin: 0;
}

header > #logo {
	width: 100px;
	float: left;
	
}

table {
	border-radius: 5px;
	border: 0;
	width: 100%;
	background-color: #CC0000;
	table-layout: fixed;

	border-collapse: collapse;
}

th {
	border: 0;
	padding: 10px 0;
	color: white;
}

td {
	text-align: center;
	color: #000088;
	background-color: white;
	padding: 3px;
	margin: 0;
	border: 0;
	opacity: .85;
}

td a {
	color: #000088;
}

tr {
	border-top: 1px solid #db4c4c;
}

tr:hover td,
tr:hover td a {
	color: white;
	background-color: #db4c4c;
}

#wrapper {
	margin: 0 15vw;
}