@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
h1,h2,h3,h4,p,a {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;   
}
a {
    text-decoration: underline;
}
body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 11pt;
    min-width:100%; 
    min-height:100%; 
    width:auto; 
    height:auto;
    
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

#background-div {
    background-image: url('images/baseball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: alpha(opacity=20);
    padding: 0;
    margin: 0;
}

#chart-area div {
    margin: 10px auto;
    height: 200px;
    display: block;
    width: 75%;
}

.dr {
    background-color: white;
}

.lr {
    background-color: #f9e1e1;
}

.dr, .lr {
    /*border: 1px solid #f9e1e1;*/
}

header,
footer {
    background-color: #000088;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}

header,
header a,
header a:hover,
footer,
footer a,
footer a:hover {
    color: white;
}

footer {
    margin-top: 25px;
    padding: 10px;
}

header {
    margin-bottom: 25px;
}

header > h1 {
    padding: 0;
    margin: 0;
}

header > #logo {
    height: 150px;
    float: right;
    margin-right: 10px;
    /* adds a white border around logos */
    -webkit-filter: drop-shadow(1px 1px 0 #fff) 
    			    drop-shadow(-1px -1px 0 #fff)
    			    drop-shadow(1px -1px 0 #fff)
    			    drop-shadow(-1px 1px 0 #fff);
    filter: drop-shadow(1px 1px 0 #fff) 
		    drop-shadow(-1px -1px 0 #fff)
		    drop-shadow(1px -1px 0 #fff)
		    drop-shadow(-1px 1px 0 #fff);
}

#mlb-logo {
    width: 10vw;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    right: 10px;
    top: 10px;
    position: absolute;
    opacity: 0.7;
}

#player-table {
    width: 100%;
}

#season-table {
    table-layout: fixed;
}

table {
    border-radius: 5px;
    width: 100%;
    background-color: #f45b5b;
    table-layout: auto;
    min-width: 0;
    border-spacing: 0;
    margin-bottom: 25px;
}

td {
    text-align: center;
    color: #595DA3;
    padding: 2px 20px;
    opacity: .9;
}

td a {
    color: #595DA3;
}

th {
    text-align: center;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

tr:first-child td:first-child { border-top-left-radius: 5px }
tr:first-child td:last-child { border-top-right-radius: 5px }
tr:last-child td:first-child { border-bottom-left-radius: 5px }
tr:last-child td:last-child { border-bottom-right-radius: 5px }

tr:hover td,
tr:hover td a {
    color: white;
    background-color: #db4c4c;
}

#roster-table {
    width: 100%;
    table-layout: fixed;
}
#roster-table th {
	text-align: left;
}
#roster-table td,
#roster-table .lr {
    text-align: left;
}

#wrapper {
    margin: 10px 15vw;
    padding: 10px;
    background-color: rgba(255,255,255,.95);
    border-radius: 5px;
    overflow: auto;
    box-shadow: 3px 3px 5px #555;
}

.tooltip-table {
	background-color: rgba(255,255,255,.5);
}

.tooltip-table tr {
	background-color: rgba(255,255,255,.5);
}

.tooltip-table tr td {
	background-color: rgba(255,255,255,.5);
}

.select2-container--default .select2-selection--single{
  height: 44px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 44px;
  line-height: 44px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 18px;
  line-height: 44px;
}

.search-button {
	background-color: #000088;
	border-color: #8085e9;
}

.search-button:hover, .search-button:active, .search-button:focus{
	background-color: #8085e9 !important;
}

.main-search-button {
	background-color: #4243A8;
	border-color: #8085e9;
}

.main-search-button:hover, .main-search-button:active, .main-search-button:focus{
	background-color: #8085e9 !important;
}